<div class="border-bottom border-2 border-dark">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 py-1 py-md-5 text-center text-md-start">
                <h1 class="display-1">
                    Talk Practice
                </h1>
                <p class="fs-4 lh-1 text-muted fw-bold pb-5">
                    The only place to chat about practice
                </p>
                <button type="button" class="btn btn-dark rounded-pill fs-6 px-4">
                    Start reading
                </button>
            </div>
        </div>
     
        
        


        


    </div>
</div>
